/* You can add global styles to this file, and also import other style files */
/* Loading spinner styles */
.spinner-border {
  width: 3rem;
  height: 3rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.nav-link.active, .navbar-brand.active {
  font-weight: bold;
  background-color: rgba(255,255,255,0.15);
  border-radius: 4px;
}